body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to bottom right, #ff99cc, #ffcc99);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #proposal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  #proposal-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  h1 {
    color: #ff66b3;
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .subtitle {
    color: #777;
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  #gif-container {
    margin-bottom: 20px;
  }
  
  button {
    background-color: #ff66b3;
    color: #fff;
    border: none;
    padding: 14px 28px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #ff3385;
  }
  
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes slideOut {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  @keyframes repel {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  